[Desktop Entry]

Type=Application
Name=Minecraft
Comment=Launcher Minecraft
Path=/usr/bin/
Exec=minecraft-launcher
Icon=minecraft
Terminal=false
Categories=Game;Java;
